*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.post-image
{
    width: 100%;
    height: calc(100vh - 65px);
}
.post-height
{
    max-height: 100vh;
}
.relative-container {
    position: relative;

  }

  .absolute-element {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 1200px);
    background-color: #faf6f7;
    padding: 10px;
  }